.logo {
	max-height: 2.7em;
}

body {
	position: relative;
	background-color: #D3D3D3;
}

.navbar-brand{
	font-family: optima;
	height: 2.8em;
}

.card-img-overlay{
	background-color: rgba(132,37,133,0.3);
	text-align: center;
	font-family: optima;
}

.carousel-item{
	font-family: Segoe script;
}

.bg-lila{
	background: rgb(132,37,133);
	background: linear-gradient(90deg, rgba(132,37,133,1) 34%, rgba(141,56,145,1) 62%, rgba(160,86,166,1) 100%);
	color: white;
	font-family: optima;
}

#album {
	background-color: #D3D3D3;
}

.album {
	background-color: #D3D3D3;
}

.card .img-1, .card .img-2,.card .img-3, .card .img-4, .card .img-5, .card .img-6 {
	-webkit-transition:all .9s ease; /* Safari y Chrome */
	-moz-transition:all .9s ease; /* Firefox */
	-o-transition:all .9s ease; /* IE 9 */
	-ms-transition:all .9s ease; /* Opera */
	width:100%;
	}
.card:hover .img-1, .card:hover .img-2, .card:hover .img-3, .card:hover .img-4, .card:hover .img-5, .card:hover .img-6 {
	-webkit-transform:scale(1.07);
	-moz-transform:scale(1.07);
	-ms-transform:scale(1.07);
	-o-transform:scale(1.07);
	transform:scale(1.07);
}
.img-contenedor {/*Ancho y altura son modificables al requerimiento de cada uno*/
width:300px;
height:180px;
overflow:hidden;
}

.navbar {
	background: rgb(132,37,133);
	background: linear-gradient(90deg, rgba(132,37,133,1) 34%, rgba(141,56,145,1) 62%, rgba(160,86,166,1) 100%);
}

#navbar .nav-link.active {
    color: #DAD382;
    outline: none;
}

#header .navbar-brand, #header .nav-link{
	color: white;
}

#header .nav-link:hover {
	color: #ABA3AC;
}

#carousel {
	position: relative;
}

#main .carousel-inner img {
	max-height: 70vh;
	object-fit: cover;
	filter: grayscale(70%);
}

.btn-outline-lila:hover{
	color: black;
}
	

.btn-outline-lila{
	background-color: rgba(211, 130, 218, 0.3);
	color: black;
}

.btn-outline-lila:hover{
	background-color: rgba(211, 130, 218, 0.8);
}

#footer {
	background: rgb(132,37,133);
	background: linear-gradient(90deg, rgba(132,37,133,1) 34%, rgba(141,56,145,1) 62%, rgba(160,86,166,1) 100%);
}

#footer .link{
	color: white;
}